# lnd configuration

[Application Options]
alias=CHANGEME
debuglevel=info
maxpendingchannels=4
color=#68F442
nat=false
# Avoid slow startup time
sync-freelist=1
# Avoid high startup overhead
stagger-initial-reconnect=1
# Allow push payments
accept-keysend=1
# Allow gift routes
allow-circular-route=1

listen=0.0.0.0:9735
rpclisten=0.0.0.0:10009
restlisten=127.0.0.1:8080
externalip=34.91.119.224
tlsextraip=192.168.120.170
tlsextradomain=lnd-clusterip
tlsextradomain=lnd-loadbalancer

[Bitcoin]
bitcoin.active=true
bitcoin.node=bitcoind
bitcoin.mainnet=true
# Set the channel confs to wait for channels
bitcoin.defaultchanconfs=2
bitcoin.minhtlc=1

[Bitcoind]
bitcoind.rpcuser=CHANGEME
bitcoind.rpcpass=CHANGEME
bitcoind.rpchost=bitcoin
bitcoind.zmqpubrawblock=tcp://bitcoin:28332
bitcoind.zmqpubrawtx=tcp://bitcoin:28333

[protocol]
# Enable large channels support
protocol.wumbo-channels=1

[wtclient]
wtclient.active=true
