apiVersion: v1
kind: Service
metadata:
  name: {{ include "lndhub.fullname" . }}
  labels:
    {{- include "lndhub.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "lndhub.selectorLabels" . | nindent 4 }}
